[submodule "map"]
	path = map
	url = git@github.com:rxi/map.git
[submodule "argparse"]
	path = argparse
	url = git@github.com:cofyc/argparse.git
[submodule "c-vector"]
	path = c-vector
	url = git@github.com:eteran/c-vector.git
